name: Summon Akochan

on:
  - push

env:
  NPROC: /usr/local/opt/coreutils/libexec/gnubin/nproc
  SED: /usr/local/opt/gnu-sed/libexec/gnubin/sed
  CLANGPP: /usr/local/opt/llvm/bin/clang++

jobs:
  run:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2

      - name: Environment preparation
        run: |
          set -x

          git clone --depth=1 https://github.com/critter-mj/akochan.git
          git --git-dir=akochan/.git rev-parse --short HEAD | tee AKOCHAN_VER
          git clone --depth=1 https://github.com/Equim-chan/akochan-reviewer.git
          git --git-dir=akochan-reviewer/.git rev-parse --short HEAD

          brew update
          # brew upgrade llvm
          brew install gnu-sed coreutils boost libomp

          rustup toolchain update --no-self-update stable
          rustup default stable
          rustup show

          node --version
          yarn --version
          yarn global add html-minifier

          sysctl -a | grep machdep.cpu
          vm_stat

          rustc --version | tee RUSTC_VER
          $CLANGPP -E - -march=native -###
          $NPROC | tee NPROC

      - name: Cache akochan
        id: cache-akochan
        uses: actions/cache@v2
        with:
          path: |
            akochan/**/*.o
          # change it manually when needed
          key: ${{ runner.os }}-akochan-0-${{ hashFiles('NPROC') }}-${{ hashFiles('AKOCHAN_VER') }}
      - name: Cache akochan-reviewer
        id: cache-akochan-reviewer
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            akochan-reviewer/target
          # change it manually when needed
          key: ${{ runner.os }}-cargo-0-${{ hashFiles('RUSTC_VER') }}-${{ hashFiles('akochan-reviewer/**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-0-${{ hashFiles('RUSTC_VER') }}-
            ${{ runner.os }}-cargo-0-

      - name: Build akochan
        run: |
          $SED -i 's/CFLAGS =/CFLAGS = -march=native -ffast-math/' akochan/Makefile_MacOS akochan/ai_src/Makefile_MacOS
          make -C akochan/ai_src -j$($NPROC) -f Makefile_MacOS
          make -C akochan -j$($NPROC) -f Makefile_MacOS
          otool -L akochan/{system.exe,libai.so}

      - name: Build akochan-reviewer
        env:
          RUSTFLAGS: -C target-cpu=native
        run: |
          cd akochan-reviewer
          cargo build --release

      - name: Run akochan-reviewer
        run: |
          source env.sh
          cd akochan-reviewer
          target/release/akochan-reviewer --no-review --mjai-out ../mjai.json --no-open "${ARGS[@]}" || true
          cd ../akochan
          ./system.exe pipe_detailed ../akoochan-reviewer/tactics.json 0 < ../mjai.json || true

#      - name: Compress report
#        run: |
#          source env.sh
#          "$(yarn global bin)"/html-minifier -o "$OUTPUT" \
#            --collapse-whitespace \
#            --collapse-boolean-attributes \
#            --remove-optional-tags \
#            --remove-redundant-attributes \
#            --remove-script-type-attributes \
#            --remove-attribute-quotes \
#            --use-short-doctype \
#            --minify-css true \
#            --sort-attributes \
#            --sort-class-name \
#            report.html
#
#      - name: Publish report
#        run: |
#          echo DONE
